body {
  margin: 0;
  background-color: #465a65;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.tasbihContainer {
  margin: 0;
  position: relative;
  height: 100vh;
  max-width: 425px;
  min-width: 325px;
}
